@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #ffffff;
    --text-color: #000;
    --secound-color: #a09dab;
    --main--color: #f75023;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 30px 18%;
    transition: .3s;
}

.logo img{
    max-width: 100%;
    width: 100px;
    height: auto;
}

.nav__list{
    display: flex;
}
.nav__list li{
    position: relative;
}

.nav__list li a{
    font-size: var(--p-font);
    color: var(--text-color);
    font-weight: 500;
    padding: 10px 27px;
}

.nav__list li a::after{
    content: '';
    position: absolute;
    width: 0%;
    height: 3px;
    background: var(--main--color);
    bottom: -3px;
    left: 0;
    transition: ease .40s;
}

.nav__list li a:hover::after{
    width: 100%;
}