@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600$display=swap');
/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}*/

body{
    padding: 0 2%;
    padding: 0;
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
}
header{
    z-index: 1;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    padding-right: 10%;
}
header nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}

header nav .profile{
    display: flex;
    align-items: center;
}

header nav .profile:hover{
    cursor: pointer;
}

header nav .profile img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

header nav .profile h1{
    font-size: 30px;
    margin-left: 10px;
}

header nav .menu{
    display: flex;
    width: auto;
    position: relative;
    right: 3%;
    list-style-type: none; 
}

header nav .menu li{
    margin-left: 20px;
    cursor: pointer;
    border-bottom: 1px solid white;
}

header nav .menu li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
    border-bottom: 1px solid white;
}

header nav .menu li a:hover{
    border-bottom:3px solid #000;
}

.page{
    margin: 4%;
}


/*home CSS */

.home{
    padding: 0 5%;
    margin: 50px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 200px);
    position: relative;
    top: 40px;
}

.home .left{
    width: 55%;
}

.home .right{
    width: 40%;
    height: 100%;
}

.home .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50px ;
    object-position: top;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}
.home .left h1{
    font-size: 70px;
    color:crimson;
    font-weight: 600;
    padding: 0;
    margin-bottom: -10px;
    margin-left: -8px;

}

.home .left h1 span{
    color: #4f4f4f;
}

.home .left h4{
    font-weight: 500;
    font: 25px;
    margin-bottom: 10px;
    color: #999;
    text-transform:uppercase;
}

.home .left p{
    font-size: 20px;
    color: #999;
}

.buttom-link{
    margin-top: 30px;
    border: 0;
    background: transparent;
}

.buttom-link a{
    background-color: crimson;
    border-radius: 60px;
    font-size: 15px;
    color: #fff;
    text-decoration: none;
    padding: 10px 25px;
    text-transform: uppercase;
    line-height: 2px;
    transition: 0.9s;
}

.buttom-link a:hover{
    background-color: transparent;
    border: 1px solid crimson;
    color: crimson;
}


/*Section compéteces*/


.page .competences{
    margin-top: 10%;
}

.page .competences h1{
    text-transform: uppercase;
    font-size: 30px;
}

.page .competences .competence{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.page .competences .competence .compet{
    max-width: 195px;
    margin-right: 20px;
}


.page .competences .competence .compet h4{
    margin: 0;
}

.page .competences .competence .compet .description{
    font-size: 10px;
}


.page .competences .competence .compet .date{
    font-size: 10px;
    color: rgb(145, 145, 145);
}


/*Section Projet*/

.page .projets{
    margin-top: 10%;
    margin-bottom: 10%;
}

.page .projets h1{
    text-transform: uppercase;
    font-size: 30px;
}

.page .projets .projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.page .projets .projects .project{
    max-width: 195px;
    margin-right: 20px;
}

.page .projets .projects .project img{
    height: 300px;
    width: 300px;
    object-fit: cover;
}


.page .projets .projects .project h4{
    margin: 0;
}

.page .projets .projects .project .description{
    font-size: 10px;
}


.page .projets .projects .project .date{
    font-size: 10px;
    color: rgb(145, 145, 145);
}






/*About*/


.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}

.about-text{
    width: 550px;
}

.about-text h2{
    color: #f2f2f2;
    font-size: 55px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.about-text h5{
    color: #fff;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text h5 span{
    color: crimson;
}

.about-text p, ul {
    color: #fcfc;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
}



ul li{
    color: #fcfc;
    list-style: none;
}

.about img{
    height: 600px;
    width: 400px;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: space-around;
}


/*Parcous*/


.title {
    text-transform: uppercase;
    color: #4f4f4f;
    font-size: 50px;
    position: relative;
    margin-left: 20px;
    margin-bottom: 30px;
}

.list_parcours{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.list_parcours h1{
    font-size: 110px;
    color: crimson;
}

.list_parcours .description{
    margin-left: 20px;
}

.list_parcours .description h3{
    color: #4f4f4f;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.list_parcours .description p{
    font-size: 20px;
    color: #999;
}



footer{
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #000;
    color: aliceblue;
    padding: 10px;
}

footer .colonnes h3{
    text-transform: uppercase;
}

footer .colonnes ul{
    list-style-type: none;
}

footer .colonnes ul li a{
    list-style-type: none;
    font-size: 15px;
    color: #ccc;
    cursor: pointer;
    text-decoration: none;
}

footer .colonnes ul li a:hover{
    color: white;
}


/*Menu responsive*/

.sub-menu{
    display: none;
}


@media screen and (max-width: 750px){
     nav{
        justify-content: center;
     }

     header nav .menu{
        display: none;
     }

     header nav .profile:hover .sub-menu{
        display: block;
        position: relative;
        top: 50%;
     }

     header nav .profile:hover .sub-menu li .menu1{
        display: inline-block;
        width: auto;
        position: relative;
        right: 3%;
        list-style-type: none; 

     }

     header nav .profile:hover .sub-menu li .menu1 li{
        margin-left: 20px;
        cursor: pointer;
        border-bottom: 1px solid white;
     }

     header nav .profile:hover .sub-menu li .menu1 li a{
        text-decoration: none;
        color: #000;
        font-size: 20px;
        border-bottom: 1px solid white;
     }

     header nav .profile:hover .sub-menu li .menu1 li a:hover{
        border-bottom:3px solid #000;
     }
     .page{
        margin-top: 30%;
    }

    .home{
        flex-direction: column-reverse;
        height: fit-content;
    }
    
    .home .left , .home .right{
        width: 100%;
    }

    .home .right{
        height: 600px;
        width: 90%;
    }

    .home .left{
        margin: 20px 0;
    }

    .home .left h1{
        font-size: 60px;
    }

    .home .left h4{
        font-size: 18px;
    }

    .home .left p{
        font-size: 11px;
    }

    .list_parcours h1{
        font-size: 50px;
    }


    
    .about-text h2{
        font-size: 40px;
    }


    .about-text{
        width: 100%;
    }

    .about img{
        width: 100%;
    }

    .main{
        flex-direction: column;
    }

     .page .presentation{
        margin-top: 10px;
        max-width: 100%;
     }

     .page .projets{
        margin-top: 15%;
     }

     .page .projets h1{
        font-size: 2em;
     }
     .page .projets .projects .project{
        margin-right: 0;
        margin-bottom: 20px;
        max-width: 100%;
     }

     footer{
        justify-content: flex-end;
     }
     footer .colonnes{
        width: 80%;
     }
}